div#gesture-overlay {
    float: left;
    position: absolute;
    width: 232px;
    z-index: 99;
}

div#gesture-top, div#gesture-bottom {
    position: relative;
    left: 50%;
    margin-left: -38px;
}

div#gesture-top {
    top: 3px;
    margin-left: -39px;
    /*right: 10px;*/
}

div#gesture-bottom {
    position: absolute;
    top: 157px;
    margin-left: -39px;
}

div#gesture-right {
    float: right;
}

div#gesture-left {
    float: left;
}

canvas#gesture-indicator {
    position: relative;
    float: left;
}
