div.qne_warn { 
    padding: 0.5em; 
    color: #333; 
    margin: 1em 0; 
    border: 1px blue solid; 
}

div.qne_warn { 
    background: #de94d6; 
}

div.qne_warn h4 { 
    margin: 0; 
    padding-left: 16px; 
    background: url('http://fi.somethingawful.com/images/warning.gif') no-repeat left; 
}

nav#page-nav {
    background: #006699;
    float: right;
    position: fixed;
    bottom: -50px;
    right: 10px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-top-left-radius: 6px 6px;
    border-top-right-radius: 6px 6px;
    backface-visibility: hidden;    
    -webkit-backface-visibility: hidden;    
    box-shadow: #000000 0px 0px 12px;
    -webkit-box-shadow: #000000 0px 0px 12px;
    transition: transform 0.25s ease-out;
    -webkit-transition: -webkit-transform 0.25s ease-out;
}

div#nav-body {
    position: relative;
}

nav.displayed {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
}

a.nav-button {
    text-decoration: none;
    position: relative;
    top: 4px;
}

select#number-drop-down {
    position: relative;
    top: -2px;
}

table.selected-post {
    box-shadow: orange 0px 0px 15px;
    -webkit-box-shadow: orange 0px 0px 15px;
}

#salrbar {
    float: left;
    height: 25px;
    margin-top:-1px;
}
#salrbar #salrlogo {
    margin-right:30px;
}
#salrbar #salrsearch {
    float: right;
    margin-left: 50px;
    margin-top: -1px;
}
#salrsearch input {
    margin: 0;
}

.no-after:after {
    content: "" !important;
}

#salr-image-hover-box {
    background-color: #FFF;
    position: absolute;
    display: none;
    border: 1px solid #555;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #555;
    padding: 5px;
}

#salr-image-hover-box img {
    margin: 0;
    padding: 0;
    border: 0;
}

#salr-image-hover-box-filename {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* forum overrides */

/* Stop the post date/time from wrapping onto a second line */
#thread table.post td.postdate {
    white-space: nowrap;
}

