body {
	font-family: arial, sans;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
}

a:hover {
    text-decoration: underline;
}

label {
    display: block;
    padding-left: 20px;
    text-indent: -15px;
}

input[type="checkbox"] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

span#title {
    padding-left: 10px;
    font-size: 16pt;
    font-weight: bold;
    position: relative;
    top: -43px;
}

span#version {
    margin-left: 125px;
    position: relative;
    top: -43px;
    color: #9c9c9c;
    font-style: italic;
}

div.preference-title {
    border-top: 1px solid #b5c7de;
    background: #ebeff9;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

section.settings-panel {
    display: none;
}

div.settings-panel {
    margin-top: 10px;
    margin-left: 16px;
}

div.settings-group {
    padding: 6px;
}

span.settings-group-title {
    font-weight: bold;
    padding-left: 10px;
}

/* Make fieldsets transparent to user */
fieldset {
    display: block;
    border: none;
    margin-left: 0;
    padding: 0;
}
legend {
    padding-left: 0;
}

/* Dim disabled sub-options */
fieldset:disabled > div.sub-options {
    color: #cccccc;
}

div.display-preference {
    padding: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

section#post-highlighting div.display-preference {
    width: 400px;
}

section#misc-commands div.display-preference {
    display: block;
}

div.sub-options {
	padding-left: 16px;
}

div.username-field, div.color-preference {
    width: 400px;
    float: left;
    margin-left: 16px;
}
    
div.color-select-input {
    float: left;
    width: 400px;
	margin-top: 2px;
}
    
div.color-select {
    height: 28px;
    position: relative;
    float: left;
    top: -4px;
    padding-right: 10px;
}

div.color-select-text {
    width: 300px;
}

div.color-select-box {
    background-image: url('../images/select.png');
    background-position: 50%;
    height: 24px;
    width: 24px;
    top: 6px;
    left: 6px;
    position: relative;
    float: right;
}

#thread table.post td {
    border:1px solid #c1c1c1;
}

img.help {
    margin-left: 0.5em;
    height: 12px;
}

.help-box {
    display: none;
    opacity: 0;
    border:1px solid #3b3b3d;
    padding:10px;
    position: absolute;
    background-color: #fff;
    z-index: 100;
    width: 500px;
    color: #000;
}
.show-help {
    display: block;
}
.hide-help {
    display: none;
}
.fadein-help {
    transition: opacity 500ms;
    opacity: 1.0;
}

.minus {
    float: right;
    margin-top: -4px;
    margin-right: 10px;
}

a {
    color: #000;
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #000;
}

div.misc {
    width: 100%;
}

#your-quote {
    background: #FFFEBA none repeat-x;
}